{% extends "base.html" %}
{% load staticfiles %}
{% block title%}Login{%endblock%}

{% block id %}login{% endblock%}

{% block content%}

<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img class="logo_nav" src="{% static "img/f13x_logo_allwhite_lg.png" %}"></a>
    </div>
</nav>
<div id="bg">
<img src="{% static "img/login_main.jpg" %}" alt="mountains">
</div>
<div class="row center">
<div class="col s10 m8 l6 offset-s1 offset-s2 offset-l3 container center">
<div class="container center">
  <div class="section">
      <h2 class="center bold grey-text text-lighten-5"> TRAIN SMARTER. </h2>
{% if form.non_field_errors %}
  <ul class='form-errors red-text'>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form action="login" method="post">
  {%csrf_token%}
  {% for field in form %}
  <div class="row">
  <div class="fieldWrapper grey-text">
    {{ field.label_tag }} {{ field }}
     <div class='red-text'>
    {{ field.errors }}
    </div>
    <p></p>
  </div>
  </div>
  {% endfor %}
  <button class="btn-large waves-effect waves-light grey darken-2" type="submit" name="action">LOGIN</button>
  <!-- <p><input type="submit" value="Login"></p> -->
</form>
<br><br>
<div class="row">
<a class="text-shadow" href="{% url 'sign_up' %}">Don't have an account? Join Us!</a>
</div>
</div>
</div>
</div>
</div>
{% endblock%}
