{% extends "base.html" %}
{% load staticfiles %}
{% block title%}Login{%endblock%}

{% block id %}login{% endblock%}

{% block content%}
<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'index' %}" class="brand-logo"><img class="logo_nav" src="{% static "img/f13x_logo_allwhite_lg.png" %}"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'login' %}">LOGIN</a></li>
      </ul>
    </div>

</nav>
<div id="bg2">
<img src="{% static "img/signup_main.jpg" %}" alt="bells">
</div>
<div class="row center">
<div class="col s10 m8 l6 offset-s1 offset-s2 offset-l3 container center">
     <div class="container center">
  <div class="section">
<!-- <h2 class="center bold grey-text text-lighten-5"> -->
<h2 class="center bold orange-text">
  JOIN THE TEAM.
</h2>
{% if form.non_field_errors %}
  <ul class='form-errors red-text'>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form  action="sign_up" method="post">
    {%csrf_token%}
    {% for field in form %}
    {% if field != form.choice_field%}
        <div class="fieldWrapper grey-text">
            <div class='red-text'>
            {{ field.errors }}
            </div>
            {{ field.label_tag }} {{ field }}
          <p></p>
        </div>
    {% else%}
        {{ field.errors }}
        {% for radio in form.choice_field %}
            <div class="radioButton">
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
            </div>
        {% endfor %}
    {% endif%}
    {% endfor %}
<br>
  <button class="btn-large waves-effect waves-light orange" type="submit" name="action">SIGN UP</button>
</form>
</div>
</div>
</div>
</div>
{% endblock%}
