{% extends "base.html" %}

{% block title%}Login{%endblock%}

{% block id %}login{% endblock%}

{% block content%}
<h1>
  Join Us Today!
</h1>
{% if form.non_field_errors %}
  <ul class='form-errors'>
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
<form  action="sign_up" method="post">
    {%csrf_token%}
    {% for field in form %}
    {% if field != form.choice_field%}
        <div class="fieldWrapper">
          {{ field.label_tag }} {{ field }}
          {{ field.errors }}
          <p></p>
        </div>
    {% else%}
        {% for radio in form.choice_field %}
            <div class="radioButton">
                {{ radio.tag }}
                <label for="{{ radio.id_for_label }}"> {{ radio.choice_label }}</label>
            </div>
        {% endfor %}
        {{ field.errors }}
    {% endif%}
    {% endfor %}
  <p><input type="submit" value="Sign Up"></p>
</form>
{% endblock%}
