.profile_image {
	max-height: 200px;
	max-width: 200px;
}
main {
    padding-left: 240px;
}

body {
	background-image: linear-gradient(
		to right top,
		transparent 33%,
		#fbfbfb 33%,
		#fbfbfb 66%,
		transparent 66%
	);
	background-size: 20px 20px;
}
@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 120px;
	pointer-events: none;
}
.side-nav li {
	float: inherit;
}


#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}
#logo-container {
    height: 60px;
    margin-bottom: 32px;
}
.logo_sidenav {
	max-height: 100px;
}
.logo_nav {
    margin-top: 10px;
    max-height: 40px;

    -webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	filter: brightness(90%);
}

.logo_nav.landing {
	visibility: hidden;
}
@media only screen and (max-width : 992px) {
	.logo_nav.landing {
		visibility: visible;
	}
    }

.main_img {
    -webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	filter: brightness(50%);
}
.logo_main {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.side-nav {
    width: 240px;
}


// .login_main{
//     background-image: url("../img/signup_main.jpg");
//     background-repeat: no-repeat;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;

  -webkit-filter: brightness(50%) grayscale(100%);
  -moz-filter: brightness(50%) grayscale(100%);
  filter: brightness(50%) grayscale(100%);
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}


#bg2 {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg2 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;

  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  filter: brightness(50%);
}


#nav_logout{
	margin-right: 2rem;
}

.landing_container{
	.navbar-fixed{
		height: 40px;
		line-height: 40px;
	}
	.logo_nav.landing{
		height: 35px;
		margin-top: 2px;
	}

	nav {
		height: 40px;
		line-height: 40px;
		.right{
			a {
				padding: 0px 15px 0px 0px;
			}
			i {
				height: 40px;
				line-height: 40px;
			}
		}
		.button-collapse{
			i {
				height: 40px;
				line-height: 40px;
			}
		}
	}
}

.profile_container{
	// .profile_main {
	//
	// }
	.profile_image {
		border-radius: 5%;
		boarder: solid white 5px;
	}
}
