.profile_image {
	max-height: 200px;
	max-width: 200px;
}
main {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.logo_nav {
    margin-top: 10px;
    max-height: 40px;

    -webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	filter: brightness(90%);
}

.logo_nav.landing {
	visibility: hidden;
}
@media only screen and (max-width : 992px) {
	.logo_nav.landing {
		visibility: visible;
	}
    }

.main_img {
    -webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	filter: brightness(50%);
}
.logo_main {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.side-nav {
    width: 240px;
}


// .login_main{
//     background-image: url("../img/signup_main.jpg");
//     background-repeat: no-repeat;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;

  -webkit-filter: brightness(50%) grayscale(100%);
  -moz-filter: brightness(50%) grayscale(100%);
  filter: brightness(50%) grayscale(100%);
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}


#bg2 {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
#bg2 img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1;

  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  filter: brightness(50%);
}
